@charset "utf-8";
/* コメントコピペ用 */

header {
  color: rgb(239, 239, 239);
  background-image:url(../images/cat_carrying_a_dragon.jpg) ;
  /* 画像を中央に配置 */
  background-position: center;
  /* 画像を隙間なく、かつ切り取って全体に広げる（一番重要！） */
  background-size: cover;
  /* 画像を繰り返さない */
  background-repeat: no-repeat;
  transition: transform 0.2s ease-in-out;
}
header:hover {
  /* 15度回転させる */
  transform: rotate(5deg);
}

h2{
  transform-origin: left;
  transition: transform 0.2s ease-in-out;
}
h2:hover{
transform: rotate(5deg);
}



